@model IEnumerable<ShoppingCart.Models.Product>
@using ShoppingCart.Models
@{

    var customer = (Customer)ViewData["customer"];
    var name = customer.FirstName + " " + customer.LastName;
    var sessionId = ViewData["sessionId"];
    var cartQuantity = ViewData["cartQuantity"];
}
<table align="center" border="1">
    @foreach (var products in Model)
    {
        <tr>
            <td>
                <table align="center" border="1" width="80%">
                    <tr align="center">
                        <td>
                            <img class="border" width="200" height="200" src=@Html.DisplayFor(modelItem => products.ImagePath) />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => products.ProductName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => products.ProductDescription)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => products.UnitPrice) - 
                            @Html.ActionLink("Add to Cart", "AddToCart", "Cart",
                               new { productId = products.ProductId, customerId = customer.CustomerId ,sessionId = @sessionId }, null)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
</table>
